{% extends 'feedback/base.html' %}
{% load static %}
{% block title %} Список отзывов{% endblock %}


{% block content %}
    <h2>Список всех отзывов</h2>
    <h2>
    <table width="100%", border="1">
        <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отзыв</th>
        <th>Рейтинг</th>
        </tr>
            {% for feed in feedbacks %}
            <tr>
                <td>{{feed.name}}</td>
                <td>{{feed.surname}}</td>
                <td>{{feed.feedback}}</td>
                <td>{{feed.rating}}</td>
            </tr>
             {% endfor %}
        </table>
        </h2>




{% endblock %}